#DEV Bootstrap
DEV_PASSWORD= #Bootstrap required
DEV_EMAIL= #Bootstrap required

#Database config
DB_URL= #Complete URl of database
DB_PASSWORD= #Password for database
DB_USER= #database user for the application

#JWT private keys
JWT_SECRET= #Min = 32 char

#Server secure config
SERVER_PORT= #Choose any